{% extends 'base.html' %}
{% load static %}

{% block content %}

<main role="main">
  <div class="container-fluid" style="background-color: rgb(207, 149, 159);">
    <nav class="navbar navbar-light bg-light">
      <span class="navbar-brand mx-auto" href="#daily-blooms" style="font-size: 24px; background-color: rgb(207, 149, 159); padding: 20px; width: 100%; display: flex; justify-content: center; font-family: 'Courier New', monospace;"><strong>Daily Blooms</strong></span>
    </nav>
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">
          {% for item in Catogries_objects %}
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <div class="image-container" style="width: 100%; height: 0; padding-bottom: 75%; position: relative; overflow: hidden;">
                <img class="card-img-top" src="{{ item.image.url }}" alt="Card image cap" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; transition: transform 0.3s;">
              </div>
              <div class="card-body">
                <p class="card-text">{{ item.name }}</p>
                <p class="card-text">{{ item.price }} BD</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary custom-button"><a href="{% url 'Catogries-Details' item.pk %}" style="color: white; text-decoration: none;">View details</a></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% if forloop.counter|divisibleby:6 %}
          <div class="col-md-12">
            {% if forloop.counter == 6 %}
            <div id="occasional-blooms" style="background-color: rgb(207, 149, 159);">
            <nav class="navbar navbar-light bg-light" style="margin-bottom: 40px;">
              <a class="navbar-brand mx-auto" href="#occasional-blooms" style="font-size: 24px; background-color: rgb(207, 149, 159); padding: 20px; width: 100%; display: flex; justify-content: center; font-family: 'Courier New', monospace;"><strong>Occasional Blooms</strong></a>
            </nav>
            </div>
            {% elif forloop.counter == 12 %}
            <div id="signature-blooms" style="background-color: rgb(207, 149, 159);">
            <nav class="navbar navbar-light bg-light" style="margin-bottom: 40px;">
              <a class="navbar-brand mx-auto" href="#signature-blooms" style="font-size: 24px; background-color: rgb(207, 149, 159); padding: 20px; width: 100%; display: flex; justify-content: center; font-family: 'Courier New', monospace;"><strong>Signature Blooms</strong></a>
            </nav>
            </div>
            {% endif %}
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</main>

<style>
  .image-container:hover img {
    transform: scale(1.1);
  }
  .custom-button {
  background-color: rgb(207, 149, 159);

}
.custom-button:active {
 text-decoration: none;

}


.custom-button:hover {
  background-color: rgb(184, 118, 129);

}

</style>

{% endblock %}